#####################################################################
[project]
purpose:
    It should be noted that the purpose of this project is NOT to
    document every single idea there is about games, but rather to
    organize and develop original ideas that I (Evan J. Coon) come
    up with on my own, using existing games and ideas as inspiration.



#####################################################################
[meta]
about:
    This simple text file describes the reasons why the project is
    organized the way it is in addition to providing a central
    hub/glossary and definition of terms as they pertain to the
    design of this project.


#####################################################################
[files]
meta_files:
    files used to describe what goes in those directories and sibling files. Standard sections include:
    dirs, files, glossary

config_files:
    the preferred filetype for describing project resource location and purpose.


#####################################################################
[glossary]
term: definition
