#####################################################################
[dirs]
current:
    MDA, contains files pertaining to formal definitions of Mechanics,
    Dynamics, and Aesthetics in an attempt to streamline idea
    generation and organization as they pertain to game design.

dynamics:
    Contains config files that explore different combinations of
    mechanics.

mechanics:
    Contains config files that explore different mechanics and their
    variants, organized by and named after different game genres.


#####################################################################
[files]
aesthetics.config:
    A static glossary of the different types of aesthetics to be
    ultimately brought about through the dynamic combination and
    re-combination of game mechanics.

#####################################################################
[glossary]
mechanic:
    Describes the particular components of the game, at the level of
    data representation and algorithms.

dynamics:
    Describes the run-time behavior of the mechanics as they act on
    inputs; player behavior and the outputs of other mechanics,
    especially over time.

aesthetics:
    Describes the desirable emotional responses evoked in the player
    when they interact with the game system.
